.card-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $tertiary-color;
  color: $white;
  padding: 1.2rem 0.5rem;
  border-radius: 0.8rem;
  @include laptop {
    background-color: transparent;
    color: $tertiary-color;
    border: 0.105rem solid $tertiary-color;
    position: relative;
    overflow: hidden;
    transition-property: color;
    transition-duration: 0.5s;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      background-color: $tertiary-color;
      transform: translateY(-100%);
      transition-property: transform;
      transition-duration: 0.5s;
    }
    &:hover {
      color: #fff;
      &::before {
        transform: translateY(0);
      }
    }
  }
  &__icon {
    font-size: 3.2rem;
    @include laptop {
      font-size: 5rem;
    }
  }
  &__title {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    @include laptop {
      font-size: 1.8rem;
    }
  }
}
.card-product {
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 1.3rem;
  box-shadow: 0px 0px 10px 1px #ccc;
  @include laptop {
    @include btn-hover();
  }
  &__title,
  &__price,
  &__stock {
    margin: 0;
    margin-top: 0.9rem;
    font-size: 1.4rem;
    padding: 0 1rem;
  }
  &__title {
    font-family: $main-title;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-clamp: 2;
  }
  &__price {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    color: $primary-color;
  }
  &__stock {
    color: rgb(136, 136, 136);
  }
}
.card-cart {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  @include laptop {
    padding: 2.5rem;
  }
  &__title {
    font-weight: 700;
    font-family: $main-title;
    font-size: 2.4rem;
  }
  &__details {
    @include reset-list;
    margin-top: 2.5rem;
    & li {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      align-items: center;
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        border-top: 0.1rem solid #ccc;
        padding-top: 1.5rem;
      }
    }
  }
  &__price {
    font-size: 2.2rem;
    color: $primary-color;
    font-weight: 700;
  }
  &__button {
    width: 100%;
    margin-top: 2rem;
  }
}
