.header {
  z-index: 15;
  &__top {
    border-bottom: 0.2rem solid #ccc;
    &--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 6.5rem;
    }
    & svg {
      font-size: 3rem;
      color: $primary-color;
    }
  }
  &__bars {
    @include laptop {
      display: none;
    }
  }
  .header__redes {
    display: none;
    @include laptop {
      margin-left: 2rem;
      margin-right: 4rem;
      display: flex;
      align-items: center;
      & svg {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__user {
    display: none;
    @include laptop {
      display: block;
      margin-left: 2rem;
      font-weight: 700;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    @include laptop {
      flex: none;
    }
  }
  &__search {
    @include laptop {
      display: none;
    }
  }
  &__shopping {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    & span {
      font-weight: 700;
      font-size: 1.6rem;
      margin-left: 0.3rem;
    }
  }
  &__main {
    &--container {
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      align-items: center;
      @include laptop {
        justify-content: space-between;
      }
    }
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.4s;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    &--show {
      &::before {
        z-index: 5;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__logo {
    width: 8.5rem;
  }
  &__nav {
    position: fixed;
    top: 0;
    width: 80%;
    max-width: 300px;
    left: 0;
    background-color: $white;
    height: 100vh;
    overflow: auto;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 0.4s;
    z-index: 15;
    &--show {
      transform: translateX(0);
    }
    @include laptop {
      position: static;
      max-width: 100%;
      width: auto;
      overflow: initial;
      height: auto;
      transform: translateX(0);
    }
  }
  &__login {
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
    border-bottom: 0.2rem solid #000;
    @include laptop {
      display: none;
    }
    & svg {
      color: $primary-color;
      font-size: 3.5rem;
      margin-right: 1rem;
    }
    & a {
      font-weight: 700;
      font-size: 1.8rem;
    }
  }
  &__delivery {
    display: flex;
    align-items: center;
    & svg {
      font-size: 3rem;
      color: $primary-color;
    }
    & a {
      margin-left: 0.5rem;
      font-size: 1.8rem;
    }
    @include laptop {
      display: none;
    }
    &--desktop {
      display: none;
      @include laptop {
        display: flex;
        flex: none;
        align-items: center;
        & svg {
          font-size: 3rem;
          color: $primary-color;
        }
        & a {
          margin-left: 0.5rem;
          font-size: 1.8rem;
        }
      }
    }
  }
}
