/*
UI States
  :enabled
  :disabled
  :checked
  :in-range
  :out-of-range
  :required
  :optional
  :valid
  :invalid
  :read-only
  :read-write
*/
.input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  border: 0.1rem solid rgb(163, 163, 163);
  border-radius: 0.5rem;
  outline: none;
}

.input-number {
  display: flex;
  border-radius: 2rem;
  overflow: hidden;
  &__button {
    border: 0.1rem solid #ccc;
    font-size: 1.4rem;
  }
  & input {
    border-radius: 0;
    border: 0.1rem solid #ccc;
    text-align: center;
  }
}
