.main-menu {
  @include reset-list;
  padding: 2rem;
  z-index: 10;
  @include laptop {
    display: flex;
    align-items: center;
  }
  &__item {
    font-size: 1.8rem;
    margin-top: 2rem;
    font-family: $main-title;
    font-weight: 700;
    color: rgb(75, 75, 75);
    @include laptop {
      margin-top: 0;
      margin-left: 6rem;
      position: relative;
      &:first-child {
        margin-left: 0;
      }
    }
    &:first-child {
      margin-top: 0;
    }
    &--icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__submenu {
    @include reset-list;
    margin-left: 1rem;
    overflow: hidden;
    max-height: 0;
    transition-property: max-height;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: $white;
    @include laptop {
      position: absolute;
      left: 50%;
      top: 3.5rem;
      transform: translateX(-50%);
      width: 30rem;
      max-height: none;
      margin-left: 0;
      padding: 2.5rem;
      box-shadow: 0rem 0rem 0.5rem 0rem #ccc;
      border-radius: 0.5rem;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.5s, opacity 0.5s;
    }
    &--show {
      @include reset-list;
      margin-left: 1rem;
      overflow: hidden;
      max-height: 258px;
      transition-property: max-height;
      transition-timing-function: linear;
      transition-duration: 0.3s;
    }
  }
  &__subitem {
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
    @include laptop {
      &:first-child {
        margin-top: 0;
      }
    }
    & svg {
      flex: none;
      color: $primary-color;
      width: 3rem !important;
      font-size: 3rem;
      margin-right: 1rem;
    }
    & a {
      font-size: 1.6rem;
    }
  }
}
@include laptop {
  .main-menu__item:hover .main-menu__submenu {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.5s;
  }
}
