@mixin btn-hover($colorFondo:transparent, $color:#000, $duration:.5s, $scale: 1.03) {
  transition-property: background-color, color, transform;
  transition-duration: $duration;
  &:hover {
    transform: scale($scale);
    background-color: $colorFondo;
    color: $color;
  }
}
