extends ../templates/template
block title-description
  title Farmacia-Cibertec | Carrito Compras
  meta(name="description" content="Descripccion")
block main
  .cart-page.section
    .cart-page__container.container
      h2.cart-page__title.title Carrito de compras <span>(2)</span>
      form(action="")
        a(href="#")
          article.product-cart
            figure
              img(src=`${img}`, alt="")
          
      

