extends ../templates/template2
block title-description
  title Farmacia-Cibertec | Carrito Compras
  meta(name="description" content="Descripccion")
block main
  .cart-page.section.section--bottom
    .cart-page__container.container
      .cart-page__select
        h2.cart-page__title.title Carrito de compras <span>(4)</span>
        div.cart-page__all
          input#select-all(type="checkbox")
          label(for="select-all") Seleccionar todos
      form.cart-page__form(action="")
        .cart-page__products
          +product-cart
          +product-cart
          +product-cart
          +product-cart
        .card-cart
          .card-cart__title Resumen del pedido
          ul.card-cart__details
            li <span>Subtotal</span><span>S/<span>50.00</span></span>
            li <span>Delivery</span><span>S/<span>5.00</span></span>
            li <span>Total</span><span class="card-cart__price" >S/<span>55.00</span></span>
          button.button.card-cart__button Comprar

        