//Variables head
- let tituloRedes="Farma Cibertec";
- let descripccionRedes="Descripción";
- let urlWeb="www.farmacibertec.com";
- let twitterCard="";
- let favicon="";
- let imgWeb="";
- let img="";