//Variables head
- let tituloRedes="Farma Cibertec";
- let descripccionRedes="Descripción";
- let urlWeb="www.farmacibertec.com";
- let twitterCard="";
- let favicon="assets/img/icon/favicon.ico";
- let imgWeb="";
//Variables
- let img='assets/img/'