.cart-page {
  background-color: #f2f2f2;
  @include laptop {
    padding-bottom: 3rem;
  }
  &__all {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    & input {
      width: 2rem;
      height: 2rem;
    }
    & label {
      margin-left: 0.8rem;
    }
  }
  &__select {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    @include laptop {
      padding: 2rem;
    }
  }
  &__title {
    font-size: 2.6rem;
  }
  &__form {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    @include laptop {
      align-items: flex-start;
      gap: 4rem;
      grid-template-columns: 2fr 1fr;
    }
  }
  &__products {
    display: grid;
    gap: 1rem;
    @include laptop {
      gap: 2rem;
    }
  }
}
