mixin card-product 
  a(href="#")
    article.card-product
      figure.card-product__img
        img(src=`${img}product.jpg`, alt="producto")
      p.card-product__title Protector Solar Frezyderm Velvet Face Color SPF 50 x 50 ml + Neceser de Regalo
      span.card-product__price S/<span>17.41</span>
      p.card-product__stock <span>366</span> unidades
mixin product-cart
  article.product-cart
    input.product-cart__checkbox(type="checkbox", name="")
    figure.product-cart__img
      img(src=`${img}product.jpg`, alt="imagen")
    .product-cart__data
      a(href="#")
        h3.product-cart__title Protector Solar Frezyderm Velvet Face Color SPF 50 x 50 ml + Neceser de Regalo
      p.product-cart__condition Nuevo
      .product-cart__flex
        p.product-cart__price
          span S/
          span 10.00
        .input-number
          button.input-number__button <i class="fas fa-minus"></i>
          input.product-cart__quantity.input(type="number", name="" placeholder="Cantidad" value="1")
          button.input-number__button <i class="fas fa-plus"></i>