.banner {
  position: relative;
  &__img {
  }
  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.4rem;
    background-color: transparent;
    color: $white;
    border: 0.1rem solid $white;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
  }
  &__prev {
    left: 0.8rem;
  }
  &__next {
    right: 0.8rem;
  }
}
